.container {
  color: white;
  background-size: cover;
  box-shadow: inset 0px 0px 90px 40px #000000;
  font-size: 2rem;
  padding: 15px;
  height: 100vh; //todo
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    background-image: none; //todo show small poster on mobile screens
  }

  .header, main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchContainer {
      color: black;
      display: flex;
      width: 350px;
      justify-content: space-between;
    }

    .logo {
      color: white;
      margin: 0;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .movieName {
    font-size: 3rem;
  }




}