.container {
  color: white;
  background-size: cover;
  box-shadow: inset 0px 0px 90px 40px #000000;
  font-size: 2rem;
  padding: 15px;
  height: 500px; //todo
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header, main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchContainer {
      color: black;
      display: flex;
      width: 350px;
      justify-content: space-between;
    }

    .logo {
      color: white;
      margin: 0;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }


  .movieTagContainer {
    display: flex;
    justify-content: space-between;

    .movieTag {
      font-size: 15px;
    }
  }

}