@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/Roboto-Regular.ttf') ;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../../assets/Roboto-Black.ttf') ;
}

.app {
  font-family: 'Roboto-Regular', serif;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: #222222;
  justify-content: space-between;
  padding: 15px;

  .searchContainer {
    color: black;
    display: flex;

    justify-content: space-between;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .logo {
    color: #ffffff;
    font-family: 'Roboto-Black', serif;
    margin-left: 25px;
    font-size: 65px;
  }
}
