.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 5px 0 black;

  .poster {
    position: relative;
    width: 100%;
    background-size: cover;
    height: 100%;
    border-radius: 5px;

    .hoverInfo {
      position: absolute;
      top: 0;
      border-radius: 5px;
      opacity: 0.8;
      height: 100%;
      width: 100%;
      background-color: black;
      display: flex;
      align-items: center;

      flex-direction: column;
      color: white;
      .overview {
        margin: 5px;
        overflow: auto;
      }
    }
  }



  .footer {
    padding: 5px;
    .nameAndRating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        padding: 0;
        font-size: 25px;
        margin: 0;
      }
    }
  }
}

.playButton {
  width: 100px;
  margin-bottom: 15px;
  margin-top: 80px;
}






























