.cardContainer {
  padding: 15px;
  margin: 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  width: 310px;
  height: 420px;
  background-color: #f4f4f4;

  &:hover {
    transform: scale(1.05);

  }

  @media screen and(max-width: 750px) {
    width: 85%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;


  .poster {
    position: relative;
    width: 100%;
    background-size: cover;
    height: 80%;
    border-radius: 10px;

    &:hover {
      .hoverInfo {
        display: flex;
      }
    }

    .hoverInfo {
      position: absolute;
      top: 0;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      background-color: rgb(0, 0, 0, 0.7);
      display: none;
      align-items: center;
      flex-direction: column;
      color: white;

      .overview {
        margin: 20px;
        overflow: auto;

      }
    }
  }


  .footer {

    text-decoration: none;
    color: #666666;

    .nameAndRating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .name {
        padding: 0;
        color: black;
        font-size: 25px;
        margin: 0;
      }
    }
  }
}

.playButton {
  width: 100px;
  margin-bottom: 5px;
  margin-top: 20px;
}