.additionalInfo {
  position: absolute;
  width: 500px;
  bottom: 45px;
  right: 0;
  background-color: black;
  border-radius: 10px;
  font-size: 20px;
  overflow: auto;
}

.popoverContainer {
  position: relative;
  display: flex;
}

.paddingContainer {
  padding: 15px;
}
