.moviesGrid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fdfdfd;
  justify-content: center;
}

.moviesGridFetching {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #e5e5e5;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paginator {
  padding: 15px;
}

.loadingContainer {
  display: flex;
  width: 100%;
  height: 79vh;
  align-items: center;
  justify-content: center;
}

