.moviesGrid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fdfdfd;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

