.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  background-color: #393838;
  color: white;
  justify-content: space-around;

  .navLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .selected {
    color: #ffa600;
    font-weight: bold;
    transform: scale(1.2);
  }
}